.burger {
    display: none;
}
@media (max-width: $md2+px){
    .burger {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #000;
        position: absolute;
        top: 30px;
        left: 10px;
        border-radius: 4px;

        &:before {
            content: '';
            display: block;
            width: 30px;
            height: 3px;
            background-color: #000;
            top: 8px;
            left: 0px;
            position: absolute;
            border-radius: 4px;
        }
        &:after {
            content: '';
            display: block;
            width: 30px;
            height: 3px;
            background-color: #000;
            top: -8px;
            left: 0px;
            position: absolute;
            border-radius: 4px;
        }
    }
}
